:root {

    --verde1: #ebfef5;
    --verde2: #cefde6;
    --verde3: #A2F8D1;
    --verde4: #66efbb;
    --verde5: #21d395;
    --verde6: #05C488;

    --azul1: #edf8ff;
    --azul2: #d7edff;
    --azul3: #b9e2ff;
    --azul4: #88d1ff;
    --azul5: #50b6ff;
    --azul6: #2895ff;
    --azul7: #2c81ff;

    --rosa1: #fff0f3;
    --rosa2: #ffe2e8;
    --rosa3: #ffcad7;
    --rosa4: #ff9fb5;
    --rosa5: #ff698f;
    --rosa6: #ff2360;

    --amarillo1: #fffbeb;
    --amarillo2: #fef4c7;
    --amarillo3: #fde78a;
    --amarillo4: #fcd54d;
    --amarillo5: #fbbe16;
    --amarillo6: #f5a10b;

    --celeste1: #eef6ff;
    --celeste2: #daebff;
    --celeste3: #bddcff;
    --celeste4: #90c7ff;
    --celeste5: #4c9fff;
    --celeste6: #3584fc;

    --morado1: #edf3ff;
    --morado2: #dfe7ff;
    --morado3: #c5d4ff;
    --morado4: #a2b6ff;
    --morado5: #7d8ffc;
    --morado6: #5e69f6;
    --morado7: #3248f2;

    --oscuro1: #30439d;
    --oscuro2: #273671;
    --oscuro3: #1e264d;
    --oscuro4: #282c4b;
    --oscuro5: #0A0C29;

    --gris0: #f6f8fa;
    --gris1: #f7f7f7;
    --gris2: #ededed;
    --gris3: #dfdfdf;
    --gris4: #c8c8c8;
    --gris5: #bababa;
    --gris6: #999999;
    --gris7: #7b7b7b;
    --gris8: #545454;
    --gris9: #363636;

    --blanco: #ffffff;

}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}


/* Estilos menu responsivo */
.menuResponsivo {
    background-color: var(--oscuro5);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;

    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;

    display: none;
    justify-content: center;
    align-items: center;

    right: 15px;
    top: 15px;

    z-index: 100;
}


/* Barra Lateral */
.barraLateral {
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--oscuro5);

    transition: width 0.5s ease, left 0.5s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    z-index: 50;

    /* Nombre Pagina */
    .nombrePagina {

        width: 100%;
        height: 45px;
        margin-bottom: 30px;

        display: flex;
        align-items: center;

        ion-icon {
            color: var(--blanco);
            min-width: 50px;
            width: 40px;
            font-size: 40px;
            cursor: pointer;
        }

        span {
            font-size: 25px;
            margin-left: 5px;
            opacity: 1;
            transition: opacity .0.5s ease;
            font-weight: 700;
            color: var(--blanco);
        }

        span.oculto {
            opacity: 0;
        }
    }



    /* Spans General */

    span {  
        width: 120px;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        opacity: 1;
        
        transition: opacity .0.5s ease, width 0.5 ease;

        &.oculto {
            opacity: 0;
            width: 0;
        }

    }

    .linea {
        width: 100%;
        height: 1px;
        margin: 20px 0;
        background-color: var(--gris8);
    }


    /* Boton Agregar */
    .botonCrearContacto, .botonCrearGrupo {

        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 10px;
        background-color: var(--azul7);
        color: var(--blanco);
        cursor: pointer;

        margin-bottom: 20px;

        ion-icon{
            min-width: 50px;
            font-size: 25px;
            color: var(--blanco);
        }

        span {
            font-size: 15px;
        }

        &:hover{
            background-color: var(--morado7);
        }

    }


    
    .itemsMenu{
        height: 40%;
    }



    /* Estilos Menu Navegacion */
    .menu, .miCuenta {

        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar{
            width: 1px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ffffff34;
            border-radius: 5px;

            &:hover {
                background-color: red;
            }
        }




        ul {

            li{
                border: 2px;
                list-style: none;
                display: flex;
                margin-bottom: 5px;


                a{
                    width: 100%;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    border-radius: 10px;

                    color: var(--gris3);


                    ion-icon {
                        min-width: 50px;
                        font-size: 20px;
                        color: var(--gris2);

                        &:hover {
                            color: var(--blanco);
                        }

                    }

                    span {
                        font-weight: 500;
                        font-size: 16px;
                    }



                    &:hover{

                        background-color: var(--morado6);
                        color: var(--gris2);

                    }

                }
                
            }

        }
    }

    /* Diseño para mostrar grupos cargados en menu */
    .menu .cajaListaGrupos {

        display: none;
        border-radius: 20px;

        .enviar {
            position: relative;
            left: -109px;
            background-color: transparent;
            width: 218px;
            height: 43px;
            border: none;
            border-radius: 10px;
            color: transparent;
            cursor: pointer;

        }

        a {

            
            
            &:hover{
                background-color: var(--oscuro4);
            }

            img { 
                min-width: 30px;
                width: 30px;
                height: 30px;
                margin: 0 10px;
                border-radius: 50%;
            }

            span {
                color: var(--morado6);
            }
        }
        

    }


}


/* Diseño Resposivo */
@media (max-width: 600px){

    .menuResponsivo{
        display: flex;
    }
        
    .barraLateral {
        position: fixed;
        left: -250px;

    }

    .maxBarraLateral {
        left: 0;
    }

    .menuResponsivo ion-icon:nth-child(2) {
        display: none;
    }

    main {
        margin-left: 0;
    }

    main .min-main {
        margin-left: 0;

    }

}



/* Cambiar a mini icono */
.miniBarraLateral {
    width: 80px;

}




/* -------------------- Diseño del Main ---------------------- */
main {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;

    background-color: var(--morado1);

}
.min-main{
    margin-left: 80px;
}



/* --------------- Diseño dashboard ---------------- */

.dashboard {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;

    div {
        border-radius: 10px;
    }


    /* DIV TODOS LOS BIENVENIDA */
    .bienvenida {
        grid-column: 1 / 3;

        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
            transform:  translate(-50%, -50%);
            z-index: 10;;
        }

        .contenido {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            z-index: 20;

            h1 {
                font-family: "Nunito", sans-serif;
                text-align: center;
                font-size: 70px;
                font-weight: bold;
                color: var(--blanco);
            }

        }

    }

    /* DIV CELENDARIO */
    .calendario {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;

        div {
            padding: 10px;
            background-color: var(--blanco);

            font-size: 25px;
            font-weight: 900;

            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--morado5);

            img {
                width: 80px;
            }

        }

        div:nth-child(1){
            width: 20%;
        }

        div:nth-child(2){
            width: 50% ;
        }

        div:nth-child(3){
            width: 30% ;
        }

        

    }


    /* DIV TODOS LOS CONTADOR */
    .contador {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        

        div {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: var(--blanco);

            h3 {
                text-align: center;
                border-radius: 8px;
                padding: 4px 10px;
                color: var(--gris1);
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 1px;

            }
            h4 {
                padding-top: 12px;
                text-align: center;
                font-size: 24px;
                font-weight: 800;
            }
        }

        .contadorContactos {
            width: 100%;

            h3 {
                background-color: var(--azul6);
            }
            h4{
                color: var(--azul5);
            }
            
            

        }
        .contadorGrupos {
            width: 100%;
            h3 {
                background-color: var(--verde6);
            }
            h4{
                color: var(--verde5);
            }


        }
    }

       /* DIV TODOS LOS CONTACTOS */
    .misContactos { 

        background-color: var(--blanco);
        grid-column: 1 / 3;

        .cabeceraTabla{
            width: 100%;
            height: 60px;
            background-color: #fff4;
            padding: .8rem  1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            .buscador {
                width: 25%;
                background-color: var(--morado2);
                padding: 5px;
                border-radius: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .2s;

                &:hover {
                    width: 30%;
                    background-color: var(--blanco);
                    box-shadow: 0 .1rem .4rem #0002;
                }

                img{
                    width: 30px;
                    height: 30px;
                }

                input{
                    width: 100%;
                    padding: 0 .5rem 0 .3rem;
                    background-color: transparent;
                    border: none;
                    outline: none;
                }

            }
        }
        
        .tabla{

            width: 95%;
            max-height: calc(89% - 1.6rem);
            background-color: rgb(255, 255, 255);
        
            margin: .8rem auto;
            border-radius: .6rem;
            overflow: auto;
            overflow: overlay;

            &::-webkit-scrollbar-thumb{
                border-radius: .5rem;
                background-color: rgba(53, 245, 5, 0.267);
                visibility: hidden;
            }

            &:hover::-webkit-scrollbar-thumb{
                visibility: visible;
            }

            

            table{

                width: 100%;
                border-radius: 10px;
                border-collapse: collapse;

                thead {
                    height: 50px;
                    background-color: var(--morado3);
                    
                    tr{
                        th{
                            font-weight: 700;
                            border: none;
                        }
                    }

                } 

                

                tbody{
                    
                    tr{
                        &:nth-child(odd){
                            background-color: var(--gris1);
                        }

                        &:nth-child(even){
                            background-color: var(--blanco);
                        }

                        td{
                            border: none;
                            vertical-align: middle;
                            text-align: center;
                            padding: 8px 0;
                            font-size: 15px;
                            color: var(--gris8);
                            font-weight: 600;

                            form {
                                display: none;
                                background-color: #05C488;
                                
                            }

                            img {
                                width: 36px !important;
                                height: 36px !important;
                                vertical-align: middle;
                                border-radius: 50%;
                            }
                            
                            /* Estilos para acciones Editar y Eliminar */
                            ion-icon {
                                font-size: 22px;
                                cursor: pointer;
                                padding: 2px;
                                border-radius: 4px;
                            }

                            .editar {
                                color: var(--morado6);

                                &:hover {
                                    background-color: var(--morado2);
                                }
                            }
                            .eliminar {
                                color: var(--rosa6);

                                &:hover {
                                    background-color: var(--rosa2);
                                }
                            }

                        }
                    }
                }
            }  

        }

        @media(max-width:1000px){
            td:not(:first-of-type){
                min-width: 12.1rem;
            }
        }
        

    }


    /* DIV TODOS LOS GRUPOS */
    .misGrupos {

        background-color: var(--blanco);
        grid-column: 1 / 3;

        .cabeceraTabla{
            width: 100%;
            height: 60px;
            background-color: #fff4;
            padding: .8rem  1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            .buscador {
                width: 25%;
                background-color: var(--azul2);
                padding: 5px;
                border-radius: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .2s;

                &:hover {
                    width: 30%;
                    background-color: var(--blanco);
                    box-shadow: 0 .1rem .4rem #0002;
                }

                img{
                    width: 30px;
                    height: 30px;
                }

                input{
                    width: 100%;
                    padding: 0 .5rem 0 .3rem;
                    background-color: transparent;
                    border: none;
                    outline: none;
                }

            }
        }
        
        .tabla{

            width: 95%;
            max-height: calc(89% - 1.6rem);
            background-color: rgb(255, 255, 255);
        
            margin: .8rem auto;
            border-radius: .6rem;
            overflow: auto;
            overflow: overlay;

            ::-webkit-scrollbar-thumb{
                border-radius: .5rem;
                background-color: rgba(53, 245, 5, 0.267);
                visibility: hidden;
            }

            &:hover::-webkit-scrollbar-thumb{
                visibility: visible;
            }

            table{

                width: 100%;
                border-radius: 10px;
                border-collapse: collapse;

                thead {
                    height: 50px;
                    background-color: var(--azul3);
                    
                    tr{
                        th{
                            font-weight: 700;
                            border: none;
                        }
                    }

                } 


                tbody{
                    tr{
                        &:nth-child(odd){
                            background-color: var(--morado1);
                        }

                        &:nth-child(even){
                            background-color: var(--blanco);
                        }

                        td{
                            border: none;
                            vertical-align: middle;
                            text-align: center;
                            padding: 8px 0;
                            font-size: 15px;
                            color: var(--gris8);
                            font-weight: 600;

                            img {
                                width: 36px;
                                height: 36px;
                                vertical-align: middle;
                                border-radius: 50%;
                            }

                            /* Estilos para acciones Editar y Eliminar */
                            ion-icon {
                                font-size: 22px;
                                cursor: pointer;
                                padding: 2px;
                                border-radius: 4px;
                            }

                            .editarElGrupo {
                                color: var(--morado6);

                                &:hover {
                                    background-color: var(--morado2);
                                }
                            }
                            .eliminarElGrupo {
                                color: var(--rosa6);

                                &:hover {
                                    background-color: var(--rosa2);
                                }
                            }
                        }
                    }
                }
            }  

        }

        @media(max-width:1000px){
            td:not(:first-of-type){
                min-width: 12.1rem;
            }
        }
        

    }


    /* DIV CREAR CONTACTO */
    .crearContacto {

        display: none;

        background-color: var(--blanco);
        grid-column: 1 / 3;

        padding: 20px;

        h3 {
            font-size: 24px;
            font-weight: 700;
        }
    
    
        form {
            
            display: grid;
            grid-template-columns: 2fr 1fr;
    
            position: relative;
            margin:auto;
            gap: 10px;
    
            padding: 20px 0;
    
            .cajaDatos {
                background-color: var(--celeste1);
                padding: 20px;
                border-radius: 10px;
                
    
                label {
                    display: block;
                    width: 80%;
                    height: 40px;
                    margin: auto;
                    font-size: 16px;
                    font-weight: 700;
                    color: var(--oscuro4);
    
                }
    
                input {
                    display: block;
                    width: 80%;
                    height: 40px;
                    margin: auto;
                    outline: none;
                    border-radius: 20px;
                    padding-left: 20px;
                    margin-bottom: 10px ;
                    margin-top: -10px;
                    background-color: var(--morado2);
    
                    color: var(--gris8);
                    font-weight: 700;
                    border: none;

                    &:hover {
                        background-color: var(--blanco);
                    }
    
    
                }

                .selectorGrupo {
                    display: block;
                    width: 80%;
                    height: 40px;
                    margin: auto;
                    outline: none;
                    border-radius: 20px;
                    border: none;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-bottom: 10px;
                    margin-top: -10px;
                    background-color: var(--morado3);
                    cursor: pointer;

                    font-size: 16px;
                    font-weight: 700;
                    color: var(--morado6);

                    option {

                        font-size: 15px;
                        font-weight: 600;
                        color: var(--morado6);

                    }

                }
    
    
                .botonAgregarContacto {
                    margin-top: 20px;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 16px;
                    background-color: var(--verde6);
                    color: white;
                    text-transform: uppercase;

                    &:hover {
                        background-color: var(--verde5);
                    }
                    
                }
        
        
            }
        
            .cajaFoto {
                background-color: var(--celeste1);
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;
                border-radius: 10px;
    
                align-content: center;
    
                label {
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    color: var(--oscuro4);
                    font-weight: 700;
    
                }
    
                img {
                    width: 110px;
                    height: 110px;
                    margin: 30px auto;
                    object-fit: cover;
                    border-radius: 50%;
                }
    
                .botonCargarFoto {
    
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 14px;
                    background-color: var(--celeste6);
                    color: white;
                    height: 40px;
                    border-radius: 20px;
                    margin: 0 auto;
                    padding: 0 40px;
                    border: none;
                    text-transform: uppercase;

                    &:hover {
                        background-color: var(--celeste5);

                    }

    
                }
            }
        }
    }

    @media (max-width: 900px) {
    
        .crearContacto {
    
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
    
            .cajaDatos {
                grid-row: 2;
                grid-column: 1 / 3;
    
    
            }
    
            .cajaFoto {
                grid-row: 1;
                grid-column: 1 / 3;
            }
    
        }
    }
    

   /* DIV CREAR GRUPO */
    .crearGrupo {

        display: none;
        background-color: var(--blanco);
        grid-column: 1 / 3;

        padding: 20px;

        h3 {
            font-size: 24px;
            font-weight: 700;
        }
    
    
        form {
            
            display: grid;
            grid-template-columns: 2fr 1fr;
    
            position: relative;
            margin:auto;
            gap: 10px;
    
            padding: 20px 0;
    
            .cajaDatos {
                background-color: var(--celeste1);
                padding: 20px;
                border-radius: 10px;
                
    
                label {
                    display: block;
                    width: 80%;
                    height: 40px;
                    margin: auto;
                    font-size: 16px;
                    font-weight: 700;
                    color: var(--oscuro4);
    
                }
    
                input {
                    display: block;
                    width: 80%;
                    height: 40px;
                    margin: auto;
                    outline: none;
                    border-radius: 20px;
                    padding-left: 20px;
                    margin-bottom: 10px ;
                    margin-top: -10px;
                    background-color: var(--morado2);
    
                    color: var(--gris8);
                    font-weight: 700;
                    border: none;

                    &:hover {
                        background-color: var(--blanco);
                    }
    
                }

                textarea{
                    display: block;
                    width: 80%;
                    height: 100px;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    margin: auto;

                    padding: 10px 10px;
                    margin-top: -10px;
                    
                    background-color: var(--morado2);
                    color: var(--gris8);
                    font-weight: 700;

                    &:hover {
                        background-color: var(--blanco);
                    }
                }
    
    
                .botonCrearGrupo {
                    margin-top: 20px;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 16px;
                    background-color: var(--morado7);
                    color: white;
                    text-transform: uppercase;

                    &:hover {
                        background-color: var(--morado6);
                    }
                    
                }
        
        
            }
        
            .cajaFoto {
                background-color: var(--celeste1);
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;
                border-radius: 10px;
    
                align-content: center;
    
                label {
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    color: var(--oscuro4);
                    font-weight: 700;
    
                }
    
                img {
                    width: 110px;
                    height: 110px;
                    margin: 22px auto;
                    object-fit: cover;
                    border-radius: 50%;
                }
    
                .botonCargarFotoGrupo {
    
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 14px;
                    background-color: var(--azul7);
                    color: white;
                    height: 40px;
                    border-radius: 20px;
                    margin: 0 auto;
                    padding: 0 40px;
                    border: none;
                    text-transform: uppercase;

                    &:hover {
                        background-color: var(--azul6);

                    }

    
                }
            }
        }
    }

    @media (max-width: 900px) {
    
        .crearGrupo {
    
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
    
            .cajaDatos {
                grid-row: 2;
                grid-column: 1 / 3;
    
    
            }
    
            .cajaFoto {
                grid-row: 1;
                grid-column: 1 / 3;
            }
    
        }
    }


    /* DIV MI CUENTA */
    .miCuenta {
        display: none;
        background-color: var(--morado3);
        grid-column: 1 / 3;

        text-align: center;
        padding: 40px 0;

        h3 {
            color: var(--oscuro1);
            font-size: 25px;
        }

    }


    /* DIV CONTACTOS FILTRADOS */
    .contactosFiltrado {
        background-color: var(--blanco);
        grid-column: 1 / 3;

        .cabeceraTabla{
            width: 100%;
            height: 60px;
            background-color: #fff4;
            padding: .8rem  1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            .buscador {
                width: 25%;
                background-color: var(--morado2);
                padding: 5px;
                border-radius: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .2s;

                &:hover {
                    width: 30%;
                    background-color: var(--blanco);
                    box-shadow: 0 .1rem .4rem #0002;
                }

                img{
                    width: 30px;
                    height: 30px;
                }

                input{
                    width: 100%;
                    padding: 0 .5rem 0 .3rem;
                    background-color: transparent;
                    border: none;
                    outline: none;
                }

            }
        }
        
        .tabla{

            width: 95%;
            max-height: calc(89% - 1.6rem);
            background-color: rgb(255, 255, 255);
        
            margin: .8rem auto;
            border-radius: .6rem;
            overflow: auto;
            overflow: overlay;

            &::-webkit-scrollbar-thumb{
                border-radius: .5rem;
                background-color: rgba(53, 245, 5, 0.267);
                visibility: hidden;
            }

            &:hover::-webkit-scrollbar-thumb{
                visibility: visible;
            }

            

            table{

                width: 100%;
                border-radius: 10px;
                border-collapse: collapse;

                thead {
                    height: 50px;
                    background-color: var(--morado3);
                    
                    tr{
                        th{
                            font-weight: 700;
                            border: none;
                        }
                    }

                } 

                

                tbody{
                    
                    tr{
                        &:nth-child(odd){
                            background-color: var(--gris1);
                        }

                        &:nth-child(even){
                            background-color: var(--blanco);
                        }

                        td{
                            border: none;
                            vertical-align: middle;
                            text-align: center;
                            padding: 8px 0;
                            font-size: 15px;
                            color: var(--gris8);
                            font-weight: 600;

                            img {
                                width: 36px !important;
                                height: 36px !important;
                                vertical-align: middle;
                                border-radius: 50%;
                            }

                            /* Estilos para acciones Editar y Eliminar */
                            ion-icon {
                                font-size: 22px;
                                cursor: pointer;
                                padding: 2px;
                                border-radius: 4px;
                            }

                            .editar {
                                color: var(--morado6);

                                &:hover {
                                    background-color: var(--morado2);
                                }
                            }
                            .eliminar {
                                color: var(--rosa6);

                                &:hover {
                                    background-color: var(--rosa2);
                                }
                            }
                        }
                    }
                }
            }  

        }

        @media(max-width:1000px){
            td:not(:first-of-type){
                min-width: 12.1rem;
            }
        }
        

    }


    /* DIV EDITAR CONTACTO */
    .editarContacto {

        display: none;

        background-color: var(--blanco);
        grid-column: 1 / 3;

        padding: 20px;

        h3 {
            font-size: 24px;
            font-weight: 700;
        }
    
    
        form {
            
            display: grid;
            grid-template-columns: 2fr 1fr;
    
            position: relative;
            margin:auto;
            gap: 10px;
    
            padding: 20px 0;
    
            .cajaDatos {
                background-color: var(--celeste1);
                padding: 20px;
                border-radius: 10px;
                
    
                label {
                    display: block;
                    width: 80%;
                    height: 40px;
                    margin: auto;
                    font-size: 16px;
                    font-weight: 700;
                    color: var(--oscuro4);
    
                }
    
                input {
                    display: block;
                    width: 80%;
                    height: 40px;
                    margin: auto;
                    outline: none;
                    border-radius: 20px;
                    padding-left: 20px;
                    margin-bottom: 10px ;
                    margin-top: -10px;
                    background-color: var(--morado2);
    
                    color: var(--gris8);
                    font-weight: 700;
                    border: none;

                    &:hover {
                        background-color: var(--blanco);
                    }
    
    
                }

                .selectorGrupo {
                    display: block;
                    width: 80%;
                    height: 40px;
                    margin: auto;
                    outline: none;
                    border-radius: 20px;
                    border: none;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-bottom: 10px;
                    margin-top: -10px;
                    background-color: var(--morado3);
                    cursor: pointer;

                    font-size: 16px;
                    font-weight: 700;
                    color: var(--morado6);

                    option {

                        font-size: 15px;
                        font-weight: 600;
                        color: var(--morado6);

                    }

                }
    
    
                .botonAgregarContacto {
                    margin-top: 20px;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 16px;
                    background-color: var(--verde6);
                    color: white;
                    text-transform: uppercase;

                    &:hover {
                        background-color: var(--verde5);
                    }
                    
                }
        
        
            }
        
            .cajaFoto {
                background-color: var(--celeste1);
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;
                border-radius: 10px;
    
                align-content: center;
    
                label {
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    color: var(--oscuro4);
                    font-weight: 700;
    
                }
    
                img {
                    width: 110px;
                    height: 110px;
                    margin: 30px auto;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .botonAgregarFoto {
    
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 14px;
                    background-color: var(--verde6);
                    color: white;
                    height: 40px;
                    border-radius: 20px;
                    margin: 0 auto;
                    padding: 0 40px;
                    border: none;
                    text-transform: uppercase;

                    &:hover {
                        background-color: var(--verde5);
                    }

                }


            }
        }
    }


    /* DIV EDITAR GRUPO */
    .editarGrupo {

        display: none;
        background-color: var(--blanco);
        grid-column: 1 / 3;

        padding: 20px;

        h3 {
            font-size: 24px;
            font-weight: 700;
        }
    
    
        form {
            
            display: grid;
            grid-template-columns: 2fr 1fr;
    
            position: relative;
            margin:auto;
            gap: 10px;
    
            padding: 20px 0;
    
            .cajaDatos {
                background-color: var(--celeste1);
                padding: 20px;
                border-radius: 10px;
                
    
                label {
                    display: block;
                    width: 80%;
                    height: 40px;
                    margin: auto;
                    font-size: 16px;
                    font-weight: 700;
                    color: var(--oscuro4);
    
                }
    
                input {
                    display: block;
                    width: 80%;
                    height: 40px;
                    margin: auto;
                    outline: none;
                    border-radius: 20px;
                    padding-left: 20px;
                    margin-bottom: 10px ;
                    margin-top: -10px;
                    background-color: var(--morado2);
    
                    color: var(--gris8);
                    font-weight: 700;
                    border: none;

                    &:hover {
                        background-color: var(--blanco);
                    }
    
                }

                textarea{
                    display: block;
                    width: 80%;
                    height: 100px;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    margin: auto;

                    padding: 10px 10px;
                    margin-top: -10px;
                    
                    background-color: var(--morado2);
                    color: var(--gris8);
                    font-weight: 700;

                    &:hover {
                        background-color: var(--blanco);
                    }
                }
    
    
                .botonEditarGrupo {
                    margin-top: 20px;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 16px;
                    background-color: var(--morado7);
                    color: white;
                    text-transform: uppercase;

                    &:hover {
                        background-color: var(--morado6);
                    }
                    
                }
        
        
            }
        
            .cajaFoto {
                background-color: var(--celeste1);
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;
                border-radius: 10px;
    
                align-content: center;
    
                label {
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    color: var(--oscuro4);
                    font-weight: 700;
    
                }
    
                img {
                    width: 110px;
                    height: 110px;
                    margin: 22px auto;
                    object-fit: cover;
                    border-radius: 50%;
                }
    
                .agregarFotoGrupo {
    
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 14px;
                    background-color: var(--azul7);
                    color: white;
                    height: 40px;
                    border-radius: 20px;
                    margin: 0 auto;
                    padding: 0 40px;
                    border: none;
                    text-transform: uppercase;

                    &:hover {
                        background-color: var(--azul6);

                    }

    
                }
            }
        }
    }


}






